{% extends 'sign_base.html' %}

{% block title %}
    注册
{% endblock %}

{% block header %}
    <h2>微购物</h2>


    <h3>( <a href="/account/signin">登录</a> - <a href="/" >返回首页</a> )</h3>
{% endblock %}

{% block content %}



    <form class="pure-form pure-form-aligned" role="form" method="post" action="{{ url_for('account.signup') }}">
                {{ form.csrf_token }}
    <fieldset>


        <div class="pure-control-group">
            <label class="control-label">登录手机号：</label>
            <input class="account" type="text" placeholder="输入手机号码" name="phone" value="">
        </div>
        <div class="pure-control-group">
            <label class="control-label">登录密码：</label>
            <input class="password" type="password" placeholder="你的登录密码" name="password" value="">
        </div>
        <div class="pure-control-group">
            <label class="control-label">确认密码：</label>
            <input class="password" type="password" placeholder="你的登录密码" name="confirm" value="">
        </div>

        <div class="pure-control-group">
            <label class="control-label">设定昵称：</label>
            <input class="text" type="text" placeholder="必填" name="nickname" value="">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">&nbsp;&nbsp;&nbsp;注&nbsp;册&nbsp;&nbsp;&nbsp;</button>
        </div>
    </fieldset>
</form>


{% endblock %}