{% extends 'sign_base.html' %}

{% block title %}
    登录
{% endblock %}

{% block header %}
    <h2>微购物</h2>


    <h3>( <a href="/v2/account/retrieve">忘记密码</a> - <a href="/" >返回首页</a> )</h3>
{% endblock %}

{% block content %}



    <form class="pure-form pure-form-stacked" role="form" method="post" action="{{ url_for('account.signin') }}">
                {{ form.csrf_token }}
    <fieldset>


        <label class="control-label">登录手机号：</label>
                        <input class="account" type="text" placeholder="输入手机号码" name="phone" value="">
         <label class="control-label">登录密码：</label>
                        <input class="password" type="password" placeholder="你的登录密码" name="password" value="">

        <label>
                            <input type="checkbox" class="auto-login" checked="" name="permanent">
                            一个月内自动登录
                        </label>

        <button type="submit" class="pure-button pure-button-primary">&nbsp;&nbsp;&nbsp;登&nbsp;录&nbsp;&nbsp;&nbsp;</button>
    </fieldset>
</form>


{% endblock %}