{% extends "plr_base.html" %}

{% block header %}

<div class="header">
	<h1>在温岭</h1>
	<p></p>
</div>

{% endblock %}


{% block content %}

<div class="content">

	<p></p>


	<table class="pure-table pure-table-bordered" style="font-size:10px">
		<thead>
			<tr>
				<th>店名</th>
				<th>地址</th>
				<th>外送热线</th>
			</tr>
		</thead>

		<tbody>
		{% for waimai in waimais %}
			<tr>
				<td><a href="{{ url_for('plr.get_waimai', id=waimai.objid) }}">{{ waimai.name }}</a></td>
				<td>{{ waimai.address }}</td>
				<td>{{ waimai.phone }}</td>
			</tr>
		{% endfor %}

		</tbody>
	</table>

</div>


{% endblock %}