{% extends "zaiwenling_base.html" %}

{% block header %}

<div class="header">
	<h1>在温岭</h1>
	<p></p>
</div>

{% endblock %}


{% block content %}

<div class="content">

	<p></p>


	<table class="pure-table pure-table-bordered">


		<tbody>
		<tr><th>地址</th><th>时代广场</th></tr>
		<tr><th>联系电话</th><th>111</th></tr>
		<tr><th>qq</th><th>111</th></tr>
		<tr><th>emaik</th><th>qqq</th></tr>

		</tbody>
	</table>

</div>
<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"wei3h"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->

{% endblock %}