
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name=apple-mobile-web-app-capable content=yes>
  <meta name=apple-mobile-web-app-status-bar-style content=black>
	<link rel="stylesheet" href="/static/css/music.css" type="text/css" media="screen" charset="utf-8">
	<link rel="shortcut icon" href="/static/img/ico/favicon.ico">
  <!--[if lte IE 8]>
  <link rel="stylesheet" href="/static/assets/ie.css" type="text/css" media="screen" charset="utf-8">
  <![endif]-->
  <title>&#9836; {{ music.music_title }} &ndash; {{ music.music_artist }} </title>
	<script type="text/javascript" src="/static/js/bundled.js"></script>
	<script type="text/javascript" src="/static/js/playerCore23.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
	$(document).ready(function(){
  $("#play").click(function(){
		if($("#play").hasClass("play")) {
			$("#play").removeClass("play").addClass("pause");
			$('#aud').trigger("play");
		}
		else {
			$("#play").removeClass("pause").addClass("play");
			$('#aud').trigger("pause");
		}
  });
});
</script>
</head>
<body onresize="resize()">
	<div id="mdCtn" class="mdCtn">
		<div class="main">
		  <div class="join">
        <h1 class="logo"></h1>
        <p class="desc">让我们用音乐倾听彼此——@在温岭</p>
		  </div>
      <div class="plyrCtnShdw"></div>
      <div class="plyrCtn">
        <div class="cvShdw"></div>
        <image src="{{ music.music_pic }}" id="cover" class="cv">
  			<div class="plyrCtt">


				<p id="play" class="ctrlBtn play"></p>

					<p class="tit">{{ music.music_title }}</p>
  				<p class="atst"><em class="serif">By</em>&nbsp;{{ music.music_artist }}</p>
  			</div>
      </div>
		</div>
		<div class="">
    </div>

	</div>
<audio id="aud" src="{{ music.music_audio }}" type="audio/mp3">

</audio>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49394114-1', 'wei3h.com');
  ga('send', 'pageview');

</script>

</body>
</html>
