
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/static/img/ico/favicon.ico">
    <title>微购物</title>

    <meta name="description" content="Common Buttons &amp; Icons" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- basic styles -->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->

    <!-- fonts -->

    <link rel="stylesheet" href="/static/css/ace-fonts.css" />

    <!-- ace styles -->

    <link rel="stylesheet" href="/static/css/ace.min.css" />
    <link rel="stylesheet" href="/static/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/static/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/static/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="/static/js/ace-extra.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
    <script src="/static/js/html5shiv.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
      </script>

      <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
          <a href="#" class="navbar-brand">
            <small>
              <i class="icon-leaf"></i>
              {{ wxuser.wxname }}
            </small>
          </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">


            <li class="purple">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="icon-bell-alt icon-animated-bell"></i>
                <span class="badge badge-important">8</span>
              </a>

              <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                <li class="dropdown-header">
                  <i class="icon-warning-sign"></i>
                  8 Notifications
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-pink icon-comment"></i>
                        New Comments
                      </span>
                      <span class="pull-right badge badge-info">+12</span>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="btn btn-xs btn-primary icon-user"></i>
                    Bob just signed up as an editor ...
                  </a>
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-success icon-shopping-cart"></i>
                        New Orders
                      </span>
                      <span class="pull-right badge badge-success">+8</span>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#">
                    <div class="clearfix">
                      <span class="pull-left">
                        <i class="btn btn-xs no-hover btn-info icon-twitter"></i>
                        Followers
                      </span>
                      <span class="pull-right badge badge-info">+11</span>
                    </div>
                  </a>
                </li>

                <li>
                  <a href="#">
                    See all notifications
                    <i class="icon-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </li>

            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="/static/avatars/avatar.png" alt="Jason's Photo" />
                <span class="user-info">
                  <small>Welcome,</small>
                  {{ g.user.nickname }}
                </span>

                <i class="icon-caret-down"></i>
              </a>

              <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                  <a href="#">
                    <i class="icon-cog"></i>
                    Settings
                  </a>
                </li>

                <li>
                  <a href="#">
                    <i class="icon-user"></i>
                    Profile
                  </a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="{{ url_for('dashboard.index') }}">
                    <i class="icon-off"></i>
                    返回
                  </a>
                </li>
              </ul>
            </li>
          </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->
      </div><!-- /.container -->
    </div>

    <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <div class="sidebar" id="sidebar">
          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
          </script>


          <ul class="nav nav-list">
            {% if 'home' in request.path %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a href="{{ url_for('dashboard.wxuser_dashboard', id=wxuser.id) }}">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> Dashboard </span>
              </a>
            </li>

            {% if 'function' in request.path %}
            <li class="active open">
            {% else %}
            <li>
            {% endif %}
              <a href="#" class="dropdown-toggle">
                <i class="icon-mail-reply"></i>
                <span class="menu-text"> 功能管理 </span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">

              {% if 'function/subscribe' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.wxuser_function_subscribe', id=wxuser.id) }}">
                    <i class="icon-double-angle-right"></i>
                    关注时回复
                  </a>
                </li>

              {% if 'function/text' in request.path or 'editfunctiontext' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.wxuser_function_text') }}">
                    <i class="icon-double-angle-right"></i>
                    文本回复
                  </a>
                </li>

                <li>
                  <a href="treeview.html">
                    <i class="icon-double-angle-right"></i>
                    图文回复
                  </a>
                </li>
<!--
                <li>
                  <a href="jquery-ui.html">
                    <i class="icon-double-angle-right"></i>
                    微信 - 语音回复
                  </a>
                </li> -->

              {% if 'function/default' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
               <a href="{{ url_for('dashboard.wxuser_function_default') }}">
                    <i class="icon-double-angle-right"></i>
                    默认回复
                  </a>
                </li>


              </ul>
            </li>

            {% if 'filepages' in request.path %}
            <li class="active open">
            {% else %}
            <li>
            {% endif %}

              <a href="#" class="dropdown-toggle">
                <i class="icon-cloud"></i>
                <span class="menu-text"> 素材管理 </span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
              {% if 'filepages/pics' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.filepage_pics') }}">
                    <i class="icon-double-angle-right"></i>
                    图片素材
                  </a>
                </li>

              {% if 'filepages/news' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.filepage_news') }}">
                    <i class="icon-double-angle-right"></i>
                    图文素材
                  </a>
                </li>

<!--                 <li>
                  <a href="jqgrid.html">
                    <i class="icon-double-angle-right"></i>
                    首页幻灯片
                  </a>
                </li> -->
              </ul>
            </li>

            {% if 'weshop' in request.path %}
            <li class="active open">
            {% else %}
            <li>
            {% endif %}
              <a href="#" class="dropdown-toggle">
                <i class="icon-list"></i>
                <span class="menu-text"> 微官网 </span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                {% if 'weshop/index/settings' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.weshop_index_settings') }}">
                    <i class="icon-double-angle-right"></i>
                    基础设置
                  </a>
                </li>

                {% if 'weshop/index/pics' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.weshop_index_pics') }}">
                    <i class="icon-double-angle-right"></i>
                    首页幻灯片
                  </a>
                </li>

                {% if 'weshop/index/navs' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.weshop_index_navs') }}">
                    <i class="icon-double-angle-right"></i>
                    导航管理
                  </a>
                </li>

                {% if 'weshop/index/pages' in request.path %}
                <li class="active">
              {% else %}
                <li>
              {% endif %}
                  <a href="{{ url_for('dashboard.weshop_index_pages') }}">
                    <i class="icon-double-angle-right"></i>
                    页面管理
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" class="dropdown-toggle">
                <i class="icon-edit"></i>
                <span class="menu-text"> 商品管理 </span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                <li>
                  <a href="form-elements.html">
                    <i class="icon-double-angle-right"></i>
                    商品发布
                  </a>
                </li>

                <li>
                  <a href="form-wizard.html">
                    <i class="icon-double-angle-right"></i>
                    出售中的商品
                  </a>
                </li>

                <li>
                  <a href="wysiwyg.html">
                    <i class="icon-double-angle-right"></i>
                    仓库中的商品
                  </a>
                </li>

                <li>
                  <a href="dropzone.html">
                    <i class="icon-double-angle-right"></i>
                    分类管理
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="widgets.html" class="dropdown-toggle">
                <i class="icon-shopping-cart"></i>
                <span class="menu-text"> 交易管理 </span>
                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">

                <li>
                  <a href="jqgrid.html">
                    <i class="icon-double-angle-right"></i>
                    订单管理
                  </a>
                </li>

                <li>
                  <a href="tables.html">
                    <i class="icon-double-angle-right"></i>
                    导出订单
                  </a>
                </li>

                <li>
                  <a href="jqgrid.html">
                    <i class="icon-double-angle-right"></i>
                    会员
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" class="dropdown-toggle">
                <i class="icon-group"></i>
                <span class="menu-text"> 客户管理 </span>
                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">

                <li>
                  <a href="jqgrid.html">
                    <i class="icon-double-angle-right"></i>
                    顾客
                  </a>
                </li>

                <li>
                  <a href="tables.html">
                    <i class="icon-double-angle-right"></i>
                    公众号粉丝
                  </a>
                </li>

                <li>
                  <a href="jqgrid.html">
                    <i class="icon-double-angle-right"></i>
                    会员
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="#" class="dropdown-toggle">
                <i class="icon-flag"></i>
                <span class="menu-text"> 促销管理 </span>

                <b class="arrow icon-angle-down"></b>
              </a>

              <ul class="submenu">
                <li>
                  <a href="tables.html">
                    <i class="icon-double-angle-right"></i>
                    优惠券
                  </a>
                </li>

                <li>
                  <a href="jqgrid.html">
                    <i class="icon-double-angle-right"></i>
                    会员卡
                  </a>
                </li>
              </ul>
            </li>

            <li>
              <a href="widgets.html">
                <i class="icon-gear"></i>
                <span class="menu-text"> 设置 </span>
              </a>
            </li>
          </ul><!-- /.nav-list -->

          <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
          </div>

          <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
          </script>
        </div>

        <div class="main-content">
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <li>
                <i class="icon-home home-icon"></i>
                <a href="{{ url_for('dashboard.wxuser_dashboard', id=wxuser.id) }}">Home</a>
              </li>

              {% block breadcrumb %}{% endblock %}
            </ul><!-- .breadcrumb -->

          </div>

          <div class="page-content">

            <div class="row">
              <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                {% for category, msg in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-block alert-{{ category }}">
                  <button type="button" class="close" data-dismiss="alert">
                    <i class="icon-remove"></i>
                  </button>

                  {{ msg }}
                </div>
                {% endfor %}

                <div class="row">
                  {% block content %}
                  {% endblock %}
                </div>
              </div>
            </div><!-- /.row -->
          </div><!-- /.page-content -->
        </div><!-- /.main-content -->

                </div><!-- /#ace-settings-container -->
      </div><!-- /.main-container-inner -->

      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
      </a>
    </div><!-- /.main-container -->

    <!-- basic scripts -->

    <!--[if !IE]> -->

    <script type="text/javascript">
      window.jQuery || document.write("<script src='/static/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>

    <!-- <![endif]-->

    <!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='/static/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

    <script type="text/javascript">
      if("ontouchend" in document) document.write("<script src='/static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/typeahead-bs2.min.js"></script>

    <!-- ace scripts -->

    <script src="/static/js/ace-elements.min.js"></script>
    <script src="/static/js/ace.min.js"></script>

    <!-- page specific plugin scripts -->
    {% block scripts %}
    {% endblock %}


  </body>
</html>
